In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
df=pd.read_csv("C:\\Users\parul\\OneDrive\\Desktop\\CCC_givendataset.csv")

In [3]:
df.shape

(88889, 18)

In [4]:
df.head()

,Unnamed: 0,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
0,0,20001218X45444,Accident,24-10-1948,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK
1,1,20001218X45447,Accident,19-07-1962,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK
2,2,20061025X01555,Accident,30-08-1974,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC
3,3,20001218X45448,Accident,19-06-1977,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC
4,4,20041105X01764,Accident,02-08-1979,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC

In [5]:
df.tail()

,Unnamed: 0,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
88884,88884,2.02212E+13,Accident,26-12-2022,"Annapolis, MD",United States,Minor,NaN,PIPER,PA-28-151,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN
88885,88885,2.02212E+13,Accident,26-12-2022,"Hampton, NH",United States,NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
88886,88886,2.02212E+13,Accident,26-12-2022,"Payson, AZ",United States,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC
88887,88887,2.02212E+13,Accident,26-12-2022,"Morgan, UT",United States,NaN,NaN,CESSNA,210N,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN
88888,88888,2.02212E+13,Accident,29-12-2022,"Athens, GA",United States,Minor,NaN,PIPER,PA-24-260,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN

In [6]:
df.dtypes

Unnamed: 0                  int64
Event.Id                   object
Investigation.Type         object
Event.Date                 object
Location                   object
Country                    object
Injury.Severity            object
Aircraft.damage            object
Make                       object
Model                      object
Number.of.Engines         float64
Engine.Type                object
Purpose.of.flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
dtype: object

In [7]:
df.describe()

,Unnamed: 0,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,88889.000000,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,44444.000000,1.146585,0.647855,0.279881,0.357061,5.325440
std,25660.188376,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22222.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,44444.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,66666.000000,1.000000,0.000000,0.000000,0.000000,2.000000
max,88888.000000,8.000000,349.000000,161.000000,380.000000,699.000000

In [9]:
df.rename(columns={'Event.Id':'Event Id', 'Investigation.Type':'Investigation type','Event.Date':'Event date','Injury.Severity':'Injury severity','Aircraft.damage':'Aircraft damage','Number.of.Engines':'No. of engines','Engine.Type':'Engine type','Purpose.of.flight':'Purpose of flight','Total.Fatal.Injuries'	:'Total fatal injuries', 'Total.Serious.Injuries':'Total serious injuries','Total.Minor.Injuries':'Total minor injuries','Total.Uninjured':'Total uninjured','Weather.Condition':'Weather condition'})

,Unnamed: 0,Event Id,Investigation type,Event date,Location,Country,Injury severity,Aircraft damage,Make,Model,No. of engines,Engine type,Purpose of flight,Total fatal injuries,Total serious injuries,Total minor injuries,Total uninjured,Weather condition
0,0,20001218X45444,Accident,24-10-1948,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK
1,1,20001218X45447,Accident,19-07-1962,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK
2,2,20061025X01555,Accident,30-08-1974,"Saltville, VA",United States,Fatal(3),Destroyed,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC
3,3,20001218X45448,Accident,19-06-1977,"EUREKA, CA",United States,Fatal(2),Destroyed,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC
4,4,20041105X01764,Accident,02-08-1979,"Canton, OH",United States,Fatal(1),Destroyed,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,88884,2.02212E+13,Accident,26-12-2022,"Annapolis, MD",United States,Minor,NaN,PIPER,PA-28-151,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN
88885,88885,2.02212E+13,Accident,26-12-2022,"Hampton, NH",United States,NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
88886,88886,2.02212E+13,Accident,26-12-2022,"Payson, AZ",United States,Non-Fatal,Substantial,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC
88887,88887,2.02212E+13,Accident,26-12-2022,"Morgan, UT",United States,NaN,NaN,CESSNA,210N,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN
88888,88888,2.02212E+13,Accident,29-12-2022,"Athens, GA",United States,Minor,NaN,PIPER,PA-24-260,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN

In [10]:
df.isna()

,Unnamed: 0,Event.Id,Investigation.Type,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,True
88885,False,False,False,False,False,False,True,True,False,False,True,True,True,False,False,False,False,True
88886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
88887,False,False,False,False,False,False,True,True,False,False,True,True,False,False,False,False,False,True
88888,False,False,False,False,False,False,False,True,False,False,True,True,False,False,False,False,False,True

In [11]:
df.isna().sum()

Unnamed: 0                    0
Event.Id                      0
Investigation.Type            0
Event.Date                    0
Location                     52
Country                     226
Injury.Severity            1000
Aircraft.damage            3194
Make                         63
Model                        92
Number.of.Engines          6084
Engine.Type                7096
Purpose.of.flight          6192
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
dtype: int64

In [12]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
88884    False
88885    False
88886    False
88887    False
88888    False
Length: 88889, dtype: bool

In [13]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Event.Id, Investigation.Type, Event.Date, Location, Country, Injury.Severity, Aircraft.damage, Make, Model, Number.of.Engines, Engine.Type, Purpose.of.flight, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition]
Index: []